[user]
	name = Elena Grahovac
	email = elena@grahovac.me
	signingkey = 8D940F72D6919A44

[core]
	excludesfile = /Users/elena/.gitignore_global

[url "git@github.com:"]
	insteadOf = https://github.com/

[url "ssh://git@stash.openprovider.nl:7999"]
	insteadOf = https://stash.openprovider.nl/scm
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	cookiefile = /Users/elena/.gitcookies
[alias]
    change = codereview change
    gofmt = codereview gofmt
    mail = codereview mail
    pending = codereview pending
    submit = codereview submit
    sync = codereview sync

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
